### Jekyll ###
_site
.sass-cache
.jekyll-metadata
Gemfile.lock

### MacOS ###
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Teaching ###
assets/teaching/python-labs/solutions/002
assets/teaching/python-labs/solutions/003
assets/teaching/python-labs/solutions/004
assets/teaching/python-labs/solutions/005
assets/teaching/python-labs/solutions/006
assets/teaching/python-labs/solutions/007
assets/teaching/python-labs/solutions/008

