<footer class="site-footer">

  <div class="container">

    <div class="row">
    
      <div class="col-xs-8 col-sm-6 col-md-5 col-lg-4">
        <p style="margin: 0px;">{{ site.location }}</p>
        <a href="http://w3w.co/rotaie.piastra.tavola" target="_blank">
          <img src="http://what3words.com/calls/embed/label/rotaie.piastra.tavola/light" height="110">
        </a>
      </div>

      <div class="col-xs-6 col-sm-4 col-md-3 col-lg-4 text-center">
        <a href="https://github.com/{{ site.github_username }}" target="_blank">
          <img src="assets/img/github-logo.svg" height="64" style="margin-bottom: 20px;"/>
        </a>
        <p>{{ site.email }}</p>
      </div>
      
      <div class="col-xs-9 col-sm-7 col-md-4 col-lg-4 text-right pull-right">
        <a rel="license" href="https://creativecommons.org/licenses/by/4.0/" title="Creative Commons Attribution 4.0 International license" target="_blank">
          <img src="assets/img/cc.logo.svg" height="64" style="margin-bottom: 20px;"/>
        </a>
        <p>
          Except where otherwise 
          <a href="https://creativecommons.org/policies#license" target="_blank">noted</a>, 
          content on this site is licensed under a 
          <a href="https://creativecommons.org/licenses/by/4.0/" rel="license" target="_blank">
          Creative Commons Attribution 4.0 International license</a>.
        </p>
      </div>

    </div>
    
  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- Cookie Banner JS -->
  <script src="assets/js/cookiebanner.js" type="text/javascript" id="cookiebanner"></script>

</footer>
