<div class="row">

    <!--<div class="col-lg-2 d-sm-none d-md-block py-4">
        {%- include navbar.html -%}
    </div>-->

    <!--<div class="col-sm-12 border-left border-right col-lg-7 p-4">
        {{ content }}
    </div>-->
    
    <div class="col-sm-12 border-right col-lg-12 p-4">
        {{ content }}
    </div>

    <!--<div class="col-lg-3 vh-100 overflow-auto d-none d-lg-block py-4">
        <a class="twitter-timeline" href="https://twitter.com/pio_zingaro"
            data-chrome="nofooter noborders noscrollbar transparent">
        </a>
    </div>-->

</div>
