<div class="card border-left-0 border-right-0 border-bottom-0 border-top-0 rounded-0">
  <div class="card-body">
    <h5 class="card-title">Hot Nav</h5>
    <ul class="navbar-nav flex-sm-column justify-content-around align-items-left">
      {%- for item in site.data.nav.items -%}
      <li class="nav-item">
        <a class="nav-link" href="{{ item.url | relative_url | prepend: site.baseurl }}">
          {{ item.title | escape }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>