---
layout: default
---

<div class="px-1 py-3">
  <h3 class="font-weight-light">
    {{ page.title | escape }}
  </h3>
  {% if page.subtitle %}
  <h4 class="mb-2 text-muted font-weight-light">
    {{ page.subtitle | escape }}
  </h4>
  {% endif %}

  {%- for post in site.posts -%}
  {%- assign compare = page.title | downcase -%}
  {%- if post.categories contains compare -%}
  <div class="card mb-3">
    {% assign image_url = 'https://source.unsplash.com/random' %}
    {% if post.image %}
    {% assign image_url = post.image %}
    {% endif %}
    <img src="{{ image_url | append: '/480x110' }}" class="card-img-top" alt="The featured image for this post">
    <div class="card-body">
      <h5 class="card-title font-weight-light">
        {{ post.title | escape }}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted font-weight-light">
        This article was last updated on {{ post.date | date_to_long_string }}
      </h6>
      <p class="card-text font-weight-light">
        {{ post.excerpt | strip_html | truncate: 240 }}
      </p>
      <a href="{{ post.url }}" class="stretched-link"></a>
    </div>
  </div>
  {%- endif -%}
  {%- endfor -%}

</div>