<!DOCTYPE html>
<html lang="{{ site.lang | default: en-US }}">

<head>
  {%- include head.html -%}
</head>

<body class="container">
  <header>{%- include header.html -%}</header>
  <main id="content" role="main" class="py-2">
    <div class="row">
      <div class="col-lg-2 border-right">
        {%- include navbar.html -%}
      </div>
      <div class="col-lg-7 border-right">
        {{ content | markdownify }}
      </div>
      <div class="col-lg-3">
        {%- include twitter.html -%}
      </div>
    </div>
  </main>
  <footer class="border-top">
    <p class="text-muted">{{ site.data.style.footer.text}}</p>
    {%- for item in site.data.nav.items -%}
    <a class="card-link badge badge-light text-dark"
      href="{{ item.url | relative_url | prepend: site.baseurl }}">{{ item.title | escape }}</a>
    {%- endfor -%}
    <p>{%- include copyright.html -%}</p>
  </footer>
  {%- include script.html -%}
</body>

</html>